*{
    margin: 0;
    padding: 0;
}
body{
	background-color: darkblue;
}

body,
body.swal2-height-auto {
	height: 100dvh !important;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-filas{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fila-jugador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form button {
    width: 100px;
}

.columna2 button {
    width: 100px;
}

.botones {
    margin: 0 0px;
    border: 2px solid darkblue;
    padding: 0;
    background: none;
}